<ion-view title="{{card.name}} – Settings" id="cardDetail-settings">
    <ion-content class="has-header has-tabs" scroll="false" >
        <ion-list>
            <ion-item type="item-text-wrapper">Change credit limit</ion-item>
            <ion-item type="item-text-wrapper">Enable / disable card</ion-item>
            <ion-item type="item-text-wrapper">Report missing cards</ion-item>
            <ion-item type="item-text-wrapper">Change PIN</ion-item>
            <ion-item type="item-text-wrapper">Change CVV-code</ion-item>
            <ion-item type="item-text-wrapper">Request an additional card</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
