<ion-view title="Login" has-header="false">
  <ion-content class="no-header padding">
      <form>
          <label class="item" style="text-align: center">
              <img src="http://lorempixel.com/400/200/" width="60%" alt=""/>
          </label>
          <label class="item item-input">
              <input type="text" placeholder="username"/>
          </label>
          <label class="item item-input">
              <input type="password" placeholder="password"/>
          </label>
          <label>
              <button type="submit" class="button button-calm button-block">Login</button>
          </label>
      </form>
  </ion-content>
</ion-view>
