<ion-view title="Payments Verify">
  <ion-content class="has-header padding">
      <form ng-submit="submitOtp(otp)">
          <div class="list list-inset">
              <div>
                  <h3>Enter SMS code</h3>
                  <p>
                      SMS with code on format XXXX has been send on your phone
                  </p>
              </div>
              <div class="item item-input input-otp">
                  <input type="tel" ng-model="otp"
                         ui-mask="9 9 9 9" placeholder="X X X X"/>
              </div>
              <label>
                      <button type="submit"
                              class="button button-block  button-form">Verify</button>
              </label>
          </div>
      </form>
  </ion-content>
</ion-view>
