<ion-view title="Payments On Card">
  <ion-content class="has-header padding">
      <form ng-submit="verifyPayment(payment)">
          <div class="list list-inset">
              <!--<div class="item item-divider">-->
                  <!--{{payment.name}}-->
              <!--</div>-->
              <label class="item item-input input-card" ng-disabled="isTemplate">
                      <input type="tel"
                         ng-model="payment.cardNumber"
                         ui-mask="9999 9999 9999 9999"
                         ng-disabled="isTemplate"
                         placeholder="XXXX XXXX XXXX XXXX" value required>
              </label>
              <br/>
              <label class="row">
                  <div class="col-33"></div>
                  <div class="col-66">
                      <div class="item item-input input-amount">
                          <input type="tel"
                                 ng-model="payment.amount" required />
                          <span class="input-label">USD</span>
                      </div>
                  </div>
              </label>
              <br/>
              <label class="item item-input item-select input-selectcard" >
                  <div class="input-label">&nbsp;</div>
                  <select ng-model="payment.paymentCardID">
                      <option ng-repeat="card in cards" ng-selected="payment.paymentCardID" value="{{card.id}}">{{card.name}} <b>{{card.balance | customCurrency: card.currencySymbol}}</b></option>
                  </select>
              </label>
              <label class="row">
                  <div class="col-33"></div>
                  <div class="col-66">
                      <button type="submit"
                              class="button button-block  button-form">Next</button>
                  </div>
              </label>
          </div>
      </form>
  </ion-content>
</ion-view>
