<ion-view title="Payment Success">
  <ion-content class="has-header padding">
      <h3>Success!</h3>
      <p>
          Payments made ​​successfully. Within minutes funds will enroll. Check you can print in any bank or via our web site.
      </p>
      <div class="button-bar">
          <a class="button icon-left" ng-hide="isTemplate" ng-class="{'ion-ios7-star-outline': !isTemplate, 'ion-ios7-star': isTemplate}" ng-click="addFavorite()">Favorites</a>
          <a class="button icon-left ion-home" href="#/tab/payments" nav-clear>Home</a>
      </div>
  </ion-content>
</ion-view>
