<ion-view title="Utilities">
  <ion-content class="has-header padding">
      <div class="list card">
          <a href="#/tab/payment/utilities/elec" ng-click="reset()" class="item item-icon-left">
              <i class="icon ion-ios7-lightbulb-outline"></i>
              Electricity
          </a>
          <!--<a href="#/tab/payment/utilities/gas" ng-click="reset()" class="item item-icon-left">-->
              <!--<i class="icon ion-gear-a"></i>-->
              <!--Gas-->
          <!--</a>-->
      </div>
  </ion-content>
</ion-view>
