/**
    Cards
**/
/* line 17, ../../compass/sass/style.scss */
body {
  position: absolute;
}

/* line 1, ../../compass/sass/components/inputs.scss */
form .row {
  padding: 0;
}

/* line 5, ../../compass/sass/components/inputs.scss */
.input-card, .input-card input, .input-phonenumber, .input-phonenumber input, .input-amount input, .input-otp, .input-otp input {
  font-size: 24px;
  line-height: 28px;
  font-weight: 200;
  text-align: center;
}

/* line 12, ../../compass/sass/components/inputs.scss */
.input-card, .input-phonenumber {
  padding: 0;
}
/* line 13, ../../compass/sass/components/inputs.scss */
.input-card, .input-card input, .input-phonenumber, .input-phonenumber input {
  border-width: 0 0 1px 0;
}

/* line 20, ../../compass/sass/components/inputs.scss */
.input-amount, .input-amount input, .input-amount .input-label {
  border-width: 0 0 1px 0;
  color: #14b35b;
  border-color: #14b35b;
}
/* line 25, ../../compass/sass/components/inputs.scss */
.input-amount input {
  text-align: right;
  -webkit-flex: 1;
}
/* line 31, ../../compass/sass/components/inputs.scss */
.input-amount .input-label {
  width: 40px;
  text-align: left;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  padding: 11px 10px 3px 3px !important;
}

/* line 40, ../../compass/sass/components/inputs.scss */
.input-selectcard .input-label {
  width: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: none;
}
/* line 45, ../../compass/sass/components/inputs.scss */
.input-selectcard select {
  -webkit-flex: 1;
  max-width: none;
  width: 100%;
}

/* line 52, ../../compass/sass/components/inputs.scss */
.input-otp, .input-otp input {
  border-width: 0 0 1px 0;
  color: #14b35b;
}

/* line 58, ../../compass/sass/components/inputs.scss */
.button-form {
  color: #14b35b !important;
  border-color: #14b35b !important;
  font-size: 24px;
  background-color: #fff !important;
}

/* line 24, ../../compass/sass/style.scss */
.main-navbar {
  background: -moz-linear-gradient(#ff8c31, #ff8322 80%, #ff7e18);
  background: -webkit-linear-gradient(#ff8c31, #ff8322 80%, #ff7e18);
  background: linear-gradient(#ff8c31, #ff8322 80%, #ff7e18);
}
/* line 28, ../../compass/sass/style.scss */
.main-navbar, .main-navbar .title, .main-navbar .button {
  color: #fff;
}

/* line 32, ../../compass/sass/style.scss */
.no-padding {
  padding: 0 !important;
}

/* line 35, ../../compass/sass/style.scss */
.no-padding-side {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 40, ../../compass/sass/style.scss */
.scroll-refresher {
  top: -55px;
}

/* line 44, ../../compass/sass/style.scss */
.banking-card .name {
  display: block;
  float: left;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 51, ../../compass/sass/style.scss */
.banking-card .balance {
  display: balance;
  float: right;
  max-width: right;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

/* line 64, ../../compass/sass/style.scss */
.item[disabled], .item[disabled] input {
  background-color: #fafafa;
}

/* line 68, ../../compass/sass/style.scss */
#cardDetail .button-bar {
  margin-bottom: .64rem;
}
/* line 70, ../../compass/sass/style.scss */
#cardDetail .button-bar .button {
  color: #882200;
}
/* line 73, ../../compass/sass/style.scss */
#cardDetail .button-bar .button:first-child {
  border-radius: 0.64rem 0 0 0.64rem;
}
/* line 76, ../../compass/sass/style.scss */
#cardDetail .button-bar .button:last-child {
  border-radius: 0 0.64rem 0.64rem 0;
}
/* line 83, ../../compass/sass/style.scss */
#cardDetail .bar-subheader .balance {
  text-align: center;
  color: #882200;
  font-weight: bold;
  font-size: 1.2rem;
}

/* line 91, ../../compass/sass/style.scss */
#cards, #payments {
  background-color: #f9f9f9;
}

/* line 97, ../../compass/sass/style.scss */
#cards .scroll {
  height: 100%;
}
/* line 100, ../../compass/sass/style.scss */
#cards .shortcutPayments {
  height: 100%;
  width: 50px;
  background-color: #333;
}
/* line 104, ../../compass/sass/style.scss */
#cards .shortcutPayments .shortcut-item {
  padding-top: 2px;
  padding-bottom: 2.5px;
}
/* line 110, ../../compass/sass/style.scss */
#cards .row, #cards .col {
  height: 100%;
  padding: 0;
}
/* line 114, ../../compass/sass/style.scss */
#cards .cards-list {
  padding-left: 1px;
  height: 100%;
}
/* line 118, ../../compass/sass/style.scss */
#cards .cards-charts {
  height: 140px;
}

/* line 125, ../../compass/sass/style.scss */
.cards-charts .slider {
  height: 100%;
}
/* line 128, ../../compass/sass/style.scss */
.cards-charts .box {
  height: 100%;
}
/* line 131, ../../compass/sass/style.scss */
.cards-charts canvas {
  height: 100%;
  width: 100%;
}

/* line 139, ../../compass/sass/style.scss */
#locations .scroll {
  height: 100%;
}
/* line 143, ../../compass/sass/style.scss */
#locations .angular-google-map {
  height: 100%;
  display: block;
}
/* line 147, ../../compass/sass/style.scss */
#locations .angular-google-map-container {
  height: 100%;
}

/* line 155, ../../compass/sass/style.scss */
.personalAccountBalance {
  text-align: center;
}
/* line 157, ../../compass/sass/style.scss */
.personalAccountBalance, .personalAccountBalance .item, .personalAccountBalance h1, .personalAccountBalance h2 {
  color: #14b35b;
}

/* line 161, ../../compass/sass/style.scss */
.counter-input-wrap {
  background-color: #f9f9f9;
}
/* line 163, ../../compass/sass/style.scss */
.counter-input-wrap input {
  font-style: italic;
  text-align: center;
}

/* line 168, ../../compass/sass/style.scss */
.counter-input-divider {
  padding: 0 10px;
  line-height: 40px;
}

/* line 174, ../../compass/sass/style.scss */
.has-header.has-header-false {
  top: inherit;
}

/* line 175, ../../compass/sass/style.scss */
.scroll-fix {
  padding-bottom: 30px;
}

/* line 179, ../../compass/sass/style.scss */
.box {
  height: 100%;
}

/* line 184, ../../compass/sass/style.scss */
#payments .scroll {
  height: 100%;
}
/* line 187, ../../compass/sass/style.scss */
#payments .slider {
  height: 100%;
}
/* line 190, ../../compass/sass/style.scss */
#payments .list .icon {
  font-size: 20px;
  width: 25px;
  text-align: center;
}
/* line 195, ../../compass/sass/style.scss */
#payments .slider-pager {
  font-size: 12px;
  opacity: .3;
}

/* line 202, ../../compass/sass/style.scss */
.bar-sidemenu {
  background-color: #fd7000;
  color: white;
}

/* line 207, ../../compass/sass/style.scss */
.item.item-card {
  padding-top: 6px;
  padding-bottom: 4px;
}
/* line 210, ../../compass/sass/style.scss */
.item.item-card h2 {
  margin-bottom: 0;
}
/* line 213, ../../compass/sass/style.scss */
.item.item-card .balance {
  color: #14b35b;
}

/* line 219, ../../compass/sass/style.scss */
#cardDetail .cards-charts {
  height: 120px;
  border-bottom: 2px solid #ddd;
  background-color: #2F2F30;
}
/* line 224, ../../compass/sass/style.scss */
#cardDetail .card-info {
  position: relative;
}
/* line 226, ../../compass/sass/style.scss */
#cardDetail .card-info .card-info-wrap {
  padding: 10px 25px;
  position: relative;
}
/* line 230, ../../compass/sass/style.scss */
#cardDetail .card-info .balance {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  color: #14b35b;
}
/* line 236, ../../compass/sass/style.scss */
#cardDetail .card-info .transaction-filter {
  position: absolute;
  top: 75px;
}
/* line 240, ../../compass/sass/style.scss */
#cardDetail .card-info .title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 241, ../../compass/sass/style.scss */
#cardDetail .card-info .title .icon {
  font-size: 25px;
  color: #666;
  margin-right: 5px;
}

/* line 257, ../../compass/sass/style.scss */
.transactions-wrap-scroll {
  background-color: #f9f9f9;
  max-height: 100%;
}
/* line 266, ../../compass/sass/style.scss */
.transactions-wrap-scroll .scroll-infinite-content {
  bottom: 13px !important;
}

/* line 271, ../../compass/sass/style.scss */
.transactions {
  position: relative;
  display: block;
  padding: 10px;
  height: 100%;
}
/* line 277, ../../compass/sass/style.scss */
.transactions .vertical-line {
  border-left: 3px solid #e1e1e1;
  position: absolute;
  left: 29px;
  height: 110%;
  z-index: 1;
}
/* line 285, ../../compass/sass/style.scss */
.transactions .horizontal-line {
  border-bottom: 2px solid #e5e5e5;
  position: absolute;
  top: 20px;
  width: 30px;
  z-index: 1;
}
/* line 292, ../../compass/sass/style.scss */
.transactions li.transaction {
  clear: both;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}
/* line 298, ../../compass/sass/style.scss */
.transactions li.transaction .icon-wrap {
  height: 40px;
  width: 40px;
  float: left;
  background-color: #882200;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  font-size: 20px;
  color: white;
}
/* line 314, ../../compass/sass/style.scss */
.transactions li.transaction.plus .icon-wrap {
  background-color: #14b35b;
}
/* line 317, ../../compass/sass/style.scss */
.transactions li.transaction.plus .balance {
  color: #14b35b !important;
}
/* line 322, ../../compass/sass/style.scss */
.transactions li.transaction .message-wrap {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  margin-left: 50px;
  padding: 6px 5px 4px 8px;
}
/* line 331, ../../compass/sass/style.scss */
.transactions li.transaction .message-wrap .message {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
/* line 337, ../../compass/sass/style.scss */
.transactions li.transaction .message-wrap .balance {
  font-weight: bold;
  color: #882200;
  text-align: left;
}
